<mat-toolbar style="background-color: #0f172a; color: #8b9aaf">
  <button
    (click)="drawer.toggle()"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
    <!-- <mat-icon>person</mat-icon> -->
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>Mi cuenta</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
  <!-- <span>My App</span> -->

  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon>
   </button> -->
  <!-- <div class="example-button-row"> 
    <button mat-stroked-button color="success" routerLink="/login">Iniciar Sesión</button>
  </div> -->
  <!-- 
   <button (click)="onSetTheme()"mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>format_color_fill</mat-icon>
  </button> -->
</mat-toolbar>

<mat-drawer-container class="example-container" [hasBackdrop]="false">
  <!-- <mat-drawer #drawer mode="side" style="background-color: #293445; color: #8B9AAF;"> -->
  <mat-drawer #drawer mode="side">
    <mat-nav-list>
      <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
        <mat-icon>home</mat-icon> Home
      </a> -->
      <a
        mat-list-item
        routerLinkActive="list-item-active"
        routerLink="/dashboard"
      >
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <a
        mat-list-item
        routerLinkActive="list-item-active"
        routerLink="/campanna"
      >
        <mat-icon>video_settings</mat-icon> Campaña
      </a>
      <a mat-list-item routerLink="/home"> <mat-icon>edit</mat-icon> Link 3 </a>
      <a mat-list-item> <mat-icon>edit</mat-icon> Link 4 </a>
      <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
      <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>

        <router-outlet></router-outlet>
      
  </mat-drawer-content>
</mat-drawer-container>
