
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$landing-piatex-primary: mat.define-palette(mat.$indigo-palette);
$landing-piatex-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$landing-piatex-warn: mat.define-palette(mat.$red-palette);


//Agregando modo oscuro en angular material-----------------------
//$pmando-primary-dark: mat.define-palette(mat.$green-palette, A200);
$landing-primary-dark: mat.define-palette(mat.$blue-palette, A200);
$landing-accent-dark:  mat.define-palette(mat.$purple-palette, A700);
$landing-warn-dark:  mat.define-palette(mat.$red-palette, A400);
//-----------------------------------------------------------------




// Create the theme object. A the me consists of configurations for individual
// theming systems such as "color" or "typography".
$landing-piatex-theme: mat.define-light-theme((
  color: (
    primary: $landing-piatex-primary,
    accent: $landing-piatex-accent,
    warn: $landing-piatex-warn,
  )
));


//------------------------------------------------------------------------
$landing-theme-dark: mat.define-dark-theme((
  color: (
    primary: $landing-primary-dark,
    accent: $landing-accent-dark,
    warn: $landing-warn-dark,
  )
));
//-------------------------------------------------------------------------

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($landing-theme-dark);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
   margin: 0;
   font-family: Fira Sans, sans-serif;
  }

  // mat-form-field-wrapper {
  //   @apply pb-2.5;
  // }
  
  // .responsive-section {
  //   @apply flex flex-col md:flex-row items-center md:space-x-4;
  // }
  
  // .mat-raised-button.admin-button {
  //   min-width: 70px !important;
  // }
  
  // .mat-error, .mat-form-field-label {
  //   font-size: 13px !important;
  // }
  
  // .mat-list-item-content {
  //   display: flex;
  //   align-items: center;
  
  //   & p {
  //     margin-bottom: 0px !important;
  //   }
  // }
  
  // mat-form-field.mat-form-field-should-float label {
  //   font-size: 18px !important;
  // }
  
  // mat-form-field label {
  //   font-size: 20px;
  //   //background-color: #f5f9f9;
  //   width: auto !important;
  //   padding-right: .5rem !important;
  // }
  
  // .mat-row:hover {
  //   //background-color: #cccccc;
  // }
  
  // mat-sidenav .mat-drawer-inner-container {
  //   overflow: hidden !important;
  // }
  
  // #player {
  //   & [data-player] {
  //     & .play-wrapper {
  //       display: flex !important;
  //       justify-content: center;
  //       align-items: center;
  //     }
  //   }
  // }
  // .custom-btn-grp {
  //   & .mat-button-toggle{
  //     //background: rgba(black, .3);
  //     & mat-icon {
  //       @apply text-gray-400;
  //     }
  //     &-checked {
  //       //background: rgba(white, .1);
  
  //       & mat-icon {
  //         @apply text-blue-600;
  //       }
  
  //     }
  //   }
  // }