.example-container {
    //height: 600px;
    width: 80vw;
    overflow: auto;
 }
  
//   table {
//     width: 100%;
//   }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }